/* athiti-regular - vietnamese_latin */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--primary-color: #48546a;
	--secondary-color: #ccd234;
}

* {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

html, body {
	height: 100%;
	/* background: #fafafa; */
	font-family: 'Roboto', sans-serif;
  font-style: normal;
}

a {
	color: #008CBA;
	text-decoration: none;
}

p {
	margin-bottom: 1rem;
}

h1, h2 {
	color: #222;
}

header {
	font-weight: bold;
	font-size: 1.25rem;
	color: #000c;
}

button {
	cursor: pointer;
	color: #fff;
	background-color: var(--primary-color);
	border: solid 1px var(--primary-color);
	border-radius: 3px;
	padding: 0.33rem 1rem;
	margin: 0.33rem 0;
	font-size: 1rem;
}

button:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

button.secondary {
	background-color: transparent;
	color: var(--primary-color);
}

button.secondary:hover {
	color: var(--secondary-color);
	border-color: var(--secondary-color);
}

input {
	margin: 0.33rem 0;
	padding: 0.33rem 0.5rem;
	border: solid 1px #777;
	border-radius: 3px;
	font-size: 1rem;
}

input.invalid {
	background-color: #f77;
}

input:focus {
	background-color: #fff;
}

ul, ol {
	margin-top: 0.5rem;
}

pre {
	margin: 1rem 0;
}

.page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.paystation-fold {
	height: 10px;
	background: #a2a91b;
	background: linear-gradient(30deg, #a2a91b 0%, #b2ba27 33%, #ccd234 33%, #b2ba27 100%);
}

.header {
	min-height: 60px;
}

.header, .footer {
	padding: 1rem 0.5rem 0.5rem;
	text-align: center;
	box-shadow: 0 1px 10px 0 #ddd;
	background: #fff;
	color: #333;
}

.footer {
	min-height: 45px;
}

.flex {
	flex: 1;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 1rem;
}

iframe.paystation-payment-frame {
	border: none;
	width: 100%;
	min-height: 429px;
}

.box {
	padding: 1rem;
	min-width: 280px;
	flex: 1;
	flex-basis: 50%;
}

#payment-amount {
	max-width: 150px;
}

#payment-page-qr-code, #payment-page-qr-code a {
	display: inline-block;
}

.center {
	text-align: center;
}

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font-family: 'Roboto', sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
